# Arquivos gerados automaticamente
__pycache__/
*.pyc

# Ambiente virtual
venv/

# Arquivos de log
*.log

# Arquivos de banco de dados
*.db

# Arquivos de configuração sensíveis
config.py

# Arquivos de saída de testes
.coverage

# Arquivos de desenvolvimento local
.env

*.db
instance/